* {
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1440px;
  margin: 0px auto;
}
section {
  padding-left: 20px;
}
.link {
  text-decoration: none;
  color: #ffde91;
  transition: 1s;
}
.link:hover {
  text-decoration: underline;
}
.bold-text {
  font-weight: bold;
}
/* Header */
.header-content {
  background: #000;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-link {
  margin: 0 20px;
  font-size: 1.25rem;
  line-height: 50px;
  text-decoration: none;
  color: #ffde91;
}
.nav-link:hover {
  text-decoration: underline;
}
/* profile */
.main-content {
  font-size: 1.25rem;
  line-height: 1.6;
  background-color: #fffaed;
}
.profile {
  display: flex;
  justify-content: space-around;
}
.profile__photo {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 20px;
}
.profile__photo-content {
  border-radius: 10px;
  box-shadow: #aaa 2px 3px;
}
.profile__info {
  width: 60%;
  padding: 0 50px 0 20px;
}
/* Contacts */
.contacts__list {
  text-decoration: none;
  color: #000;
}
.contacts__list:hover {
  text-decoration: underline;
}